apiVersion: v1
kind: ReplicationController
metadata:
  name: blue
  labels:
   app: blue
spec:
 replicas: 1
 selector:
  app: blue
 template:
  metadata:
   labels:
    app: blue
  spec:
   containers:
    - name: blue
      image: pessinam/DevOpsCap
      ports:
      - name: "http-server"
        containerPort: 80